<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Username already used.</h1>

    <h2>Sign Up</h2>
    <form method="post" action="/register">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="text" name="password" />
      <input type="submit" />
    </form>

    <h2>Sign In</h2>
    <form method="post" action="/login">
      <label for="username">Username</label>
      <input type="text" name="username" />
      <label for="password">Password</label>
      <input type="text" name="password" />
      <input type="submit" />
    </form>

  </body>
  <!-- <script src="public/trip.js"></script> -->
</html>
